<article class="container">
    <section class="inline-cards col-sm-12">
      <div class="style-card card">
        <img class="card-img-top style-img" >
        <div>
         <span class="badge badge-primary badge-style badge-style-font">alagamento</span>
        </div>
        <div>
          <h2 class="font-style-size"></h2>
        </div>
        <ul class="list-style-none list-group">
          <li class="li-style card-text">
            <i>event</i>
            data e hora</li>
          <li>
            <i>event_seat</i>
            inutil talvez?</li>
        </ul>
        <!-- <div class="border-style"></div> -->
        <!-- <div class="card-body btn-style-margin">
          <button class="btn btn-primary btn-style-font btn-style-size" routerLink="/visualizacao">veja mais</button>
        </div> -->
      </div>
    </section>
  </article>
  
